<configuration>
	<payvast>
		
    <server port="9010" workflow="disable" maximumMemory="0" maximumMemoryAlert="85" mode="normal" disableEncryptionOfServices="true">
			
			<database connection="server=192.168.12.10; database=PayvastEnterprise_mousavi; trusted_connection=yes; enlist=false; encrypt=false;" ddlLogDBName="" />
			<database connection="server=192.168.12.10; database=PayvastEnterprise_mousavi; trusted_connection=yes; enlist=false; encrypt=false;" application="common" />
			<database connection="server=192.168.12.10; database=HR; trusted_connection=yes; enlist=false; encrypt=false;" application="timesheet" />
			<database connection="server=192.168.12.10; database=payvast; trusted_connection=yes; enlist=false; encrypt=false;" application="accounting" />
			<database connection="server=192.168.12.10; database=HR; trusted_connection=yes; enlist=false; encrypt=false;" application="employment" />

			<nativeApplications moduleBase="" />
			<email enabled="false" />
			<normalEmail enabled="true" />
			<integration enabled="false" autoSync="true" />
			<loginFriends>
				<ip address="192.168.12.12" />
			</loginFriends>

		<perpService enabled="false">
				<url />
				<database />
				<username />
				<password />
			</perpService>

			
			<customObjects>
				<add assembly="Etech.Archive.Server.dll" />
				<add assembly="Etech.News.Server.dll" />
				<add assembly="Payvast.AG1.Server.dll" />
				<add assembly="Payvast.Assessment.Server.dll" />
				<add assembly="Payvast.CRM.Server.dll" />
				<add assembly="Payvast.CurrencyExchange.Server.dll" />
				<add assembly="Payvast.EDesk.Server.dll" />
				<add assembly="Payvast.FormManagement.Server.dll" />
				<add assembly="Payvast.InstantMessage.Server.dll" />
				<add assembly="Payvast.Loan.Server.dll" />
				<add assembly="Payvast.Memorandum.Server.dll" />
				<add assembly="Payvast.Workspace.Server.dll" />
				<add assembly="Payvast.OfficeAutomation.Server.dll" />
				<add assembly="Payvast.OrganizationAffairs.Server.dll" />
				<add assembly="Payvast.Recruitment.Server.dll" />
				<add assembly="Payvast.WorkManagement.Server.dll" />
				<add assembly="Payvast.ExchangeAutomation.Server.dll" />
				<add assembly="Payvast.ExchangeService.Server.dll" />
				<add assembly="Payvast.Meeting.Server.dll" />
				<add assembly="Payvast.Note.Server.dll" />
				<add assembly="Payvast.ToDoList.Server.dll" />
				<add assembly="Payvast.BulletinBoard.Server.dll" />
				<add assembly="Payvast.Workgroup.Server.dll" />
				<add assembly="Payvast.TaskManagement.Server.dll" />
				<add assembly="Payvast.PublicReport.Server.dll" />
			</customObjects>
		</server>
		<security acceptTextContent="false" checkPersitedData="true" />
	</payvast>
</configuration>